html{
  font-size: 16px;
}
body{
  width: 100%;
}
.navbar-nav{
  width: 100%;
  background-color: rgba(255, 255, 255, 0.58);
 flex-direction: row;
}
.navbar-brand{
  color: #0f5c9e;
  font-size: 1.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.jumbotron{
  background-image: url("../images/birdseye.jpg");
  background-position: center;
  background-size: cover;
  height: 400px;
}
.jumbotron .container{
  background-color: rgba(255, 255, 255, 0.58);
  max-width: 60%;
  width: auto;
  border-radius: 5px;
  margin-top: 10rem;
}
.jumbotron h1{
  color: #0f5c9e;
  text-align: center;
  padding: 0.5rem 0;
}
.image-container{
  /*display: flex;
  justify-content: space-around;*/
  margin-top: 1.5rem;
}
.image-container .container{
  padding: 2rem;
}
.container-fluid h2{
  text-align: center;
  color: #0f5c9e;
  margin-top: 2rem;
}
.fa-html5{
  color: rgb(228, 77, 38);
}
.fa-css3-alt{
  color: rgb(59, 154, 217);
}
.fa-js-square{;
  color: rgb(99, 168, 20);
}
section{
  width: 50%;
  margin: auto;
}
section p{
  font-size: 1.5rem;
  text-align: center;
}
p img{
  height: 1.2rem;
  width: 1.2rem;
}
.footer{
  background-color: #0f5c9e;
  color: white;
  margin-top: 3rem;
  width: 100%;
  text-align: center;
  height: 10rem;
}
.footer h3,
.footer h4{
  padding-top: 1rem;
  margin-bottom: 0;
}

.fa-github{
  font-size: 2rem;
  color: white;
}
.button:hover{
  cursor: pointer;
background-color: #0f5c9e;
color: white;
border-radius: 5px;
padding-left: 0.5rem;
padding-right: 0.5rem;
}


/* toggle class styles */

.backgroundToggle{
  background-color: rgba(0, 0, 0, 0.55) !important;
}
.textToggle{
  color: white !important;
}
